# Python Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.venv/
venv/
ENV/
env/

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# Environment Variables & Secrets
.env
.env.*
*.env
secrets/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs & DB dumps (RDB / AOF in Redis)
*.log
dump.rdb
appendonly.aof